<% unless checklist.title.blank? %>
  <tr id="checklist-<%= checklist.id  %>">
    <td><strong><%= checklist.title %></strong></td>
    <td class="text-center"><%= distance_of_time_in_words(checklist.created_at + 7.days, Time.now) %></td>
    <td>
      <%= link_to(
        checklist,
        method: :delete,
        :class => "btn btn-info pull-right",
        :data => {
          :toggle => "tooltip",
          :placement => "top",
          :title => "Complete & Delete Item"},
        remote: true) do %>
        <i class="glyphicon glyphicon-ok"></i>
      <% end %>
    </td>
  </tr>
<% end %>
