<div>
  <h1>To-Do List</h1>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>To-Do Title</th>
      <th class="text-center">Time Remaining</th>
      <th><span class="pull-right">Actions</span></th>
    </tr>
  </thead>
  <tbody>
  <% @checklists.each_with_index do |checklist, index| %>
    <%= render "checklists/checklist", checklist: checklist, index: index %>
  <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-xs-12">
    <div class="">
       <% if current_user %>
         <div class='new-item'>
           <%= render 'checklists/form', checklist: @checklist %>
         </div>
       <% end %>
    </div>
  </div>
</div>
